{% extends 'base.html' %}
{% block title %}Allotments{% endblock %}

{% block content %}

<h2>New Allotments</h2>
{% if processedApplications %}
<table class="long">
<tr class="top-row">
<th>Loan Name</th>
<th>Loan type</th>
<th>Amount sanction</th>
<th>Interest type</th>
<th>Interest Rate</th>
<th>Allotment Date</th>
<th>Application Date</th>
<th>Applied amount</th>
<th></th>
</tr>
{% for application in processedApplications %}
	<tr class="out" onmouseover="this.className='over'" onmouseout="this.className='out'"> 
	<td>{{application.name}}</td>
	<td>{{application.loanType}}</td>
	<td>{{application.amountAllotted}}</td>
	<td>{{application.interestCategory}}</td>
	<td>{{application.interestRate}}</td>
	<td>{{application.dateOfAllotment}}</td>
	<td>{{application.dateApplied}}</td>
	<td>{{application.amountAppliedFor}}</td>
	<td><a href="{{application.archiveLink}}" id="button-link"><button>Archive</button></a></td>
	</tr>
{% endfor %}
</table>
{% else %}
<p>No new allotments</p>
{% endif %}
<h2>Under Processing</h2>
{% if underProcessingApplications %}
<table width="70%">
<tr class="top-row">
<th>Loan Name</th>
<th>Loan type</th>
<th>Applied Amount</th>
<th>Application Date</th>
<th>Status</th>
<th>Remarks</th>
<th></th>
</tr>
{% for application in underProcessingApplications %}
	<tr class="out" onmouseover="this.className='over'" onmouseout="this.className='out'"> 
	<td>{{application.name}}</td>
	<td>{{application.loanType}}</td>
	<td>{{application.amountAppliedFor}}</td>
	<td>{{application.dateApplied}}</td>
	<td>{{application.status}}</td>
	<td>{{application.remark}}</td>
	<td><a href="{{application.cancelLink}}" id="button-link"><button>Cancel & Archive</button></a></td>
	</tr>
{% endfor %}
</table>
{% else %}
<p>No under processing Applications</p>
{% endif %}
<h2>Archived Applications</h2>
{% if archivedApplications %}
<table class="long">
<tr class="top-row">
<th>Loan Name</th>
<th>Loan type</th>
<th>Amount sanction</th>
<th>Interest type</th>
<th>Interest Rate</th>
<th>Allotment Date</th>
<th>Application Date</th>
<th>Applied amount</th>
</tr>
{% for application in archivedApplications %}
	<tr class="out" onmouseover="this.className='over'" onmouseout="this.className='out'"> 
	<td>{{application.name}}</td>
	<td>{{application.loanType}}</td>
	{% ifequal application.status 'cancelled' %}
	<td>N.A.</td>
	<td>N.A.</td>
	<td>N.A.</td>
	<td>N.A.</td>
	{% else %}
	<td>{{application.amountAllotted}}</td>
	<td>{{application.interestCategory}}</td>
	<td>{{application.interestRate}}</td>
	<td>{{application.dateOfAllotment}}</td>
	{% endifequal %}
	<td>{{application.dateApplied}}</td>
	<td>{{application.amountAppliedFor}}</td>
	</tr>
{% endfor %}
</table>
{% endif %}
{% endblock %}
