{% extends 'base.html' %}
{% block title %}Payments{% endblock %}

{% block content %}
<h2>All Payments</h2>
<table class="long">
<tr class="top-row">
<th>Loan Name</th>
<th>Amount Paid</th>
<th>Payment Type</th>
<th>Payment Date</th>
<th>Merchant</th>
<th></th>
</tr>
{% for payment in paymentsList %}
	<tr class="out" onmouseover="this.className='over'" onmouseout="this.className='out'"> 
	<td>{{payment.loan}}</td>
	<td>{{payment.amount}}</td>
	<td>{{payment.paymentType}}</td>
	<td>{{payment.datePaid}}</td>
	<td>{{payment.MerchantUsed}}</td>
	</tr>
{% endfor %}

</table>
{% endblock %}
