{% extends 'base.html' %}
{% block title %}Payments{% endblock %}

{% block content %}<h2>Completed Loan Details</h2>
<table class="vertical" cellpadding="6.5px">
<tr class="out" onmouseover="this.className='over'" onmouseout="this.className='out'">
<td>Loan Name</td>
<td>{{details.name}}</td>
</tr>
<tr class="out" onmouseover="this.className='over'" onmouseout="this.className='out'">
<td>Loan Type</td>
<td>{{details.loanType}}</td>
</tr>
<tr class="out" onmouseover="this.className='over'" onmouseout="this.className='out'">
<td>Principal Amount (in Rs.)</td>
<td>{{details.principal}}</td>
</tr>
<tr class="out" onmouseover="this.className='over'" onmouseout="this.className='out'">
<td>Time Period (in months)</td>
<td>{{details.totalMonths}}</td>
</tr>
<tr class="out" onmouseover="this.className='over'" onmouseout="this.className='out'">
<td>Date Taken</td>
<td>{{details.dateTaken}}</td>
</tr>
<tr class="out" onmouseover="this.className='over'" onmouseout="this.className='out'">
<td>Interest Type</td>
<td>{{details.interestCategory}}</td>
</tr>
<tr class="out" onmouseover="this.className='over'" onmouseout="this.className='out'">
<td>Interest Rate</td>
<td>{{details.interestRate}}% p.a.</td>
</tr>
<tr class="out" onmouseover="this.className='over'" onmouseout="this.className='out'">
<td>Security</td>
<td>{{details.security}}</td>
</tr>
</table>

<br/>
<br/>
<h3>Payment History</h3>
{% if paymentDetails %}
<table class="long">
<tr class="top-row">
<th>Amount Paid (in Rs.)</th>
<th>Date of Payment</th>
<th>Payment Type</th>
<th>Merchant Used</th>
</tr>
{% for payment in paymentDetails %}
<tr class="out" onmouseover="this.className='over'" onmouseout="this.className='out'">
<td>{{payment.amount}}</td>
<td>{{payment.datePaid}}</td>
<td>{{payment.type}}</td>
<td>{{payment.merchant}}</td>
</tr>
{% endfor %}
</table>
{% else %}
<p>No payments made till now.</p>
{% endif %}
{% endblock %}
