{% extends 'base.html' %}
{% block title %}Due Installments{% endblock %}

{% block content %}
<h2>Due Installments</h2>
<table class="long" cellpadding="4px;">
{% for inst in overdueInstallments %}
{% if forloop.first %}
<tr class="top-row">
<th>Loan Name</th>
<th>Due Installment Amount</th>
<th>Outstanding Loan Balance</th>
<th>Due Date</th>
<th></th>
</tr>
{% endif %}
<tr class="overdue" onmouseover="this.className='overdue-over'" onmouseout="this.className='overdue'">
<td>{{inst.loan}}</td>
<td>{{inst.amount}}</td>
<td></td>
<td>{{inst.dueDate}}</td>
<td><a href="../payInstallment/{{inst.loan}}" id="button-link"><button>Pay Now</button></a></td>
</tr>
{% endfor %}
{% for inst in dueInstallments %}
<tr class="out" onmouseover="this.className='over'" onmouseout="this.className='out'">
<td>{{inst.loan}}</td>
<td>{{inst.amount}}</td>
<td></td>
<td>{{inst.dueDate}}</td>
<td><a href="../payInstallment/{{inst.loan}}" id="button-link"><button>Pay Now</button></a></td>
</tr>
{% endfor %}
</table>
{% endblock %}
