{% extends 'base.html' %}
{% block title %}Due Installments{% endblock %}

{% block content %}
<h2>Due Installments</h2>
{% if overdueInstallments or dueInstallments %}
<table class="long" cellpadding="4px;">
{% if overdueInstallments %}
{% for inst in overdueInstallments %}
{% if forloop.first %}
<tr class="top-row">
<th>Loan Name</th>
<th>Due Installment Amount (in Rs.)</th>
<th>Due Date</th>
<th></th>
</tr>
{% endif %}
<tr class="overdue" onmouseover="this.className='overdue-over'" onmouseout="this.className='overdue'">
<td>{{inst.loan}}</td>
<td>{{inst.amount}}</td>
<td>{{inst.dueDate}}</td>
<td><a href="../payInstallment/{{inst.loan}}" id="button-link"><button>Pay Now</button></a></td>
</tr>
{% endfor %}
{% endif %}
{% if dueInstallments %}
{% for inst in dueInstallments %}
<tr class="out" onmouseover="this.className='over'" onmouseout="this.className='out'">
<td>{{inst.loan}}</td>
<td>{{inst.amount}}</td>
<td>{{inst.dueDate}}</td>
<td><a href="../payInstallment/{{inst.loan}}" id="button-link"><button>Pay Now</button></a></td>
</tr>
{% endfor %}
{% endif %}
</table>
{% else %}
<p>No due Installments</p>
{% endif %}
{% endblock %}
