{% extends 'base.html' %}
{% block title %}Pay Prepayment for your loan{% endblock %}

{% block content %} 
<form action="" method="post">
<h3> Loan Name: </h3> {{ loanName }}
<h3> Amount to prepay:</h3>Rs. {{form.prepaymentAmount}}  
{% if form.prepaymentAmount.errors %}
    <ul>
    {% for error in form.prepaymentAmount.errors %}
        <li><strong>{{ error|escape }}</strong></li>
    {% endfor %}
    </ul>
{% endif %}
<p> *Note: Prepayment amount should be less than Rs. {{ outstandingAmount }}, the outstanding loan balance for your loan. </p>
<p align="center"><input type="submit" value="Proceed for Payment">  </p>
</form>
{% endblock %} 
