{% extends 'base.html' %}
{% block title %}Pay Prepayment for your loan{% endblock %}

{% block content %} 
<form action="" method="post">
<table>
<tr> <th> Loan Name: </th> <th> {{ loanName }} </th> </tr>
<tr> <th> Amount to prepay: </th> <th> {{form.prepaymentAmount}} </th> 
<th> 
{% if form.prepaymentAmount.errors %}
    <ul>
    {% for error in form.prepaymentAmount.errors %}
        <li><strong>{{ error|escape }}</strong></li>
    {% endfor %}
    </ul>
{% endif %}
</th> </tr>
<tr> <th> Note: Prepayment amount should be less than Rs. {{ outstandingAmount }}, the outstanding loan balance for your loan. </th> </tr>
<tr> <th> <input type="submit" value="Proceed for Payment">  </tr> </th>
</table>
</form>
{% endblock %} 
